@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24242a;
}

li, a, button{
font-family: "Montserrat",sans-serif;
font-weight: 500;
font-size: 16px;
color:#edf0f1;
text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
    align-items: center;
    padding: 30px 10px;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding:0px 20px;     
}

.navlinks a{
    transition:all 0.3s ease 0s;
}

.navlinks a:hover {
color:#0088a9;
}

button {
    padding: 9px 25px;
   background-color:rgba(0,136,169,1);
   border: none;
   border-radius:15px;
   cursor: pointer;
   transition:all 0.3s ease 0s;
   margin: 20px;
    
}
button:hover{
    background-color:rgba(0,136,169,0.8);
}

/* @media only screen and (min-width:768px){

    body{
        display: flex;
        flex-flow: column;
    }
      header {
          flex-direction: row;
          justify-content: space-between;
      }
      .navlinks ul{
flex-direction: row;
      }
    
    .navlinks{
        display:flex;
        flex-direction:row;
    }
} */