body,html {
    margin: 0;
    font-family: 'Lato', sans-serif;
    border:2px solid green;
  
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {   
    background-color: #551a8b;
    color: rgba(255, 255, 255, 0.8);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::after */

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    
    padding: 10px 0;
}

nav {
    display:flex;    
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    display: flex;
    flex-direction: row-reverse;
    /* margin-left: 70px; */
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.8);   
}
nav a{
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
 }


/* media queries */
/* Desktop stuff goes into media queries */

/* small */
/* @media screen only (min-width 1200px) {

}

/* medium */
@media screen only (min-width 1200px) {

}
 /* large */
@media screen only (min-width 1200px) {

} */
