* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
    padding-top: %;
}

header {
    width: 100%;
    height: 10%;
    background-color: rgb(65, 53, 175);
    position: fixed;
}

p {
    
    position: absolute;
    bottom: 0;
    left: 350px;
}

.container {
    position: relative;
    width: 500px;
    height: 700px;
    border: 1px solid black;
    border-radius: 34px;
    box-shadow:10px 15px rgb(98, 58, 207);
}

img {
    margin-top:25%;
    border: 1px solid #ddd;
    border-radius: 30%;
    padding-top: 30px;
    max-width: 100%;
    height: auto;
    position: static;
    box-shadow: 5px 10px rgb(209, 71, 20);


}