body,html{
    /* background-image: url("./images/bulldog.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 20px; */
    width:100%; 
    padding: 0;
    margin:0;
    font-family: arial;
    
}

.navlist{
    list-style-type: none;
    margin: 0;
   background-color:burlywood;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-end;
   
   
}

.navlist a{
    text-decoration: none;
    display:block;
    padding:1em;
    color:white;
    font-size: 2em;
}

.navlist a:hover{
    text-decoration:underline;
}

.navlist button{
    border-radius:15px;
}
@media (min-width:768px) {
    html{
      background-image: url("./images/bulldog.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 20px;
    }
}