body,html{
    width:100%; 
    padding: 0;
    margin:0;
    font-family: arial;
    background-image: url('./images/bulldog.jpg');
}

.navlist{
    list-style-type: none;
    margin: 0;
   background-color:burlywood;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-end;
}

.navlist a{
    text-decoration: none;
    display:block;
    padding:1em;
    color:white;
    font-size: 2em;
}

.navlist a:hover{
    text-decoration:underline;
}