*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    padding-top: 10px;
    display:flex;
border:1px solid purple;
}

h1{
    display: flex;
    border:1px solid purple;
}

header ul{
display: flex;
}

header li{
border:1px solid purple;
list-style: none;
}

main{
border:1px solid purple;
flex-grow:1;
}


section{
    flex-direction: column;
    display:flex;
border:1px solid purple;
}

.sidebar{
    display:flex;
    flex-direction: column;
border:1px solid purple;
}
footer{
    display:flex;
    flex-direction: row;
border:1px solid purple;
}
footer ul{
}

 footer li{
     display:flex;
border:1px solid purple;
list-style: none;
 }
 a{
text-decoration: none;
 }