* {
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
}

html,
body {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
}


header{
    padding-top: 10px;
    display:flex;
border:1px solid purple;
}

header>nav{
    display: flex;
    border: 0;
}
header>nav>.title{
    flex:1;
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-grow: 1;
}

section {
   flex: 3;
}

h1{
    display: flex;
    border:1px solid purple;
}
.sidebar{
    flex:3;
}
footer{
    display:flex;
 }

footer .copywright{
    flex:1;
}
footer a{
    margin: 12px;
}

 footer li{
     display:flex;
border:1px solid purple;
list-style: none;
 }
 