* {
    /* border: 2px solid cornflowerblue; */
    margin: 5px;
    padding: 3px;
}

html,
body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}


header {
    padding-top: 10px;
    display: flex;
    background-color: rgb(128, 120, 120);
    color:white;
    text-decoration:none ;
    flex-direction:column;
}

header>nav {
    display: flex;
    border: 0;
}
header a{
    text-decoration:none;
    color:wheat;
}
header a:hover{
    color:red;
}
header>nav>.title {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-grow: 1;
}

section {
    flex: 3;
    background-color: #e6dada;
}

.sidebar {
    flex: 1;
    background-color: #fff6f6;
}

footer {
    display:none;
    background-color: rgb(128, 120, 120);
}

footer .copywright {
    flex: 1;
}

footer a {
    margin: 12px;
    text-decoration: none;
    color:black;
}
footer a:hover{
    color:red;
}

footer li {
    display: flex;
    border: 1px solid purple;
    list-style: none;
}

@media only screen and (min-width:768){
flex-direction: column;
}

footer{
    display:flex;
}