/* regular styles */
h1{
    font-size: 2rem ;
}

h2{
font-size:1.5rem ;
}
h3{
font-size: 1rem;
}
/* medium styles */
@media only screen and (min-width:768px){
    html{
        font-size: 24px;
    }
}
/* large styles */
@media only screen and (min-width:1200px) {
    html {
        font-size: 32px;
    }