<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> My AngularJS App </title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.angularjs.org/1.7.8/angular.js"></script>
</head>
<body>

  <section ng-controller="MyCtrl">
      <label>
          Click the box to show your stuff
          <input type="checkbox" ng-model="showText" />
      </label>
  
        <div ng-if="showText" class="flex">
          <div class="flex-inner" ng-repeat="item in listItems">
            {{item}}
          </div>
        </div>

        <form ng-if="showText">
          <p ng-repeat="input in inputItems"> <input placeholder="{{input.name}}"> {{input.label}}  </p>
        </form> 
  </section>

  <script src="app.module.js"></script>
  <script src="app.controller.js"></script>
</body>
</html>